.RPBContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: chocolate;
}

.progress-bar-container {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.progress-bar-background {
  height: 15rem;
  width: 50%;
  background-color: bisque;
  display: flex;
  justify-content: left;
}

.progress-bar-foreground {
  background-color: black;
  height: 100%;
}
